# NPL
### Natural Processing Languaje

In [73]:
import pyprind
import pandas as pd
import os
from pathlib import Path
import numpy as np

In [74]:
#Captura de datos
basepath="aclImdb"

labels ={'pos': 1,'neg': 0}
pbar = pyprind.ProgBar(50000)
df=pd.DataFrame()
dt=pd.DataFrame()

In [75]:
for s in ('test','train'):
    for l in ('pos', 'neg'):
        path = os.path.join(basepath,s,l)
        for file in os.listdir(path):
            with open(os.path.join(path,file), 'r', encoding ='utf') as infile:
                txt = infile.read()
            dft=pd.concat({'review':pd.Series(txt),'sentiment':pd.Series(labels[l])},ignore_index=True,axis=1)
            df=pd.concat([dft,df],ignore_index=True)

            pbar.update()
df.columns = [ 'review', 'sentiment']

0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:00:34

In [76]:
df

                                                  review  sentiment
0      This is one of the dumbest films, I've ever se...          0
1      Some films that you pick up for a pound turn o...          0
2      I saw 'Descent' last night at the Stockholm Fi...          0
3      This is the kind of movie that my enemies cont...          0
4      Towards the end of the movie, I felt it was to...          0
...                                                  ...        ...
49995  Bill Paxton has taken the true story of the 19...          1
49996  I saw this film in a sneak preview, and it is ...          1
49997  As a recreational golfer with some knowledge o...          1
49998  Actor turned director Bill Paxton follows up h...          1
49999  I went and saw this movie last night after bei...          1

[50000 rows x 2 columns]

In [77]:
np.random.seed(0)
df = df.reindex(np.random.permutation(df.index))

In [78]:
df

                                                  review  sentiment
11841  The infamous Ed Wood "classic" Plan 9 From Out...          0
19602  Sports movies have never been my thing, but a ...          1
45519  this movies is really special ! it's about a y...          1
25747  Well, after seeing "Beginning" I thought why t...          0
42642  Ben (a fine Charles Bateman), his young daught...          1
...                                                  ...        ...
21243  A wonderful film, filled with great understate...          1
45891  There have been many movies about people retur...          1
42613  Imaginary Heroes, the remarkable work of the t...          1
43567  As a big Dostoyevsky fan, I had always been di...          1
2732   great mystery, but the film goes down hill fro...          0

[50000 rows x 2 columns]

In [81]:
df.to_csv('movie_data.csv',index=False,encoding='utf-8')

In [82]:
dff=pd.read_csv('movie_data.csv')
dff.head()

                                              review  sentiment
0  The infamous Ed Wood "classic" Plan 9 From Out...          0
1  Sports movies have never been my thing, but a ...          1
2  this movies is really special ! it's about a y...          1
3  Well, after seeing "Beginning" I thought why t...          0
4  Ben (a fine Charles Bateman), his young daught...          1